<div class="page-header text-center">
    <h1>{{ foto.titulo }}</h1>
</div>
<p ng-show="mensagem.length" class="alert alert-info">{{ mensagem }}</p>
<form name="formulario" class="row" ng-submit="submeter()" novalidate>
    <div class="col-md-6">

        <div class="form-group">
            <label>Título</label>
            <input ng-model="foto.titulo" name="titulo" class="form-control" required ng-maxlength="15" />
            <span ng-show="formulario.$submitted && formulario.titulo.$error.required" class="form-control alert-danger">Este campo é obrigatório</span>
            <span ng-show="formulario.$submitted && formulario.titulo.$error.maxlength" class="form-control alert-danger">Este campo deve ter no máximo 15 caracteres</span>
        </div>

        <div class="form-group">
            <label>URL</label>
            <input ng-model="foto.url" name="url" class="form-control" required />
            <span ng-show="formulario.$submitted && formulario.url.$error.required" class="form-control alert-danger">Este campo é obrigatório</span>
        </div>

        <div class="form-group">
            <label>Descrição</label>
            <textarea ng-model="foto.descricao" name="descricao" class="form-control" required></textarea>
            <span ng-show="formulario.$submitted && formulario.descricao.$error.required" class="form-control alert-danger">Este campo é obrigatório</span>
        </div>

        <button type="submit" class="btn btn-primary" ng-disabled="formulario.$invalid">
            Salvar
        </button>
        <a href="/" class="btn btn-primary">Voltar</a>

    </div>

    <div class="col-md-6">
        <minha-foto url="{{ foto.url }}" alt="{{ foto.titulo }}"></minha-foto>
    </div>
</form>